Country=Country (2 Letter Code)
State=State (2 Letter Code)
Location=Acme Town
Organization=Acme
EmailAddress=dummy@acme.com
ApacheSitesAvailable=/etc/apache2/sites-available/
CertAuthPEMFile=/etc/ssl/certs/myCA.pem
CertAuthKeyFile=/etc/ssl/certs/myCA.key
CertLocation=/etc/ssl/certs/
CSRLocation=/etc/ssl/csr/
PrivateKeyLocation=/etc/ssl/private/
SANConfigLocation=/etc/ssl/san-config/